@media only screen and (max-width : 992px) {
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
        display: none;
    }

    .nav::-webkit-scrollbar {
        display: none;
    }

    .nav {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .owl-stage {
        padding-left: 0px !important;
    }
}